# proyecto ETL Migración a PostgreSQL

Importamos las librerías que se usarán

In [8]:
import pandas as pd #Librería qeu contiene funciones qeu nos ayudan con el análisis de datos  
import numpy as np  ##Útil para realizar calcualo avanzados
import os

In [3]:
directorio = os.getcwd()
dataset_name = 'jio_mart_items.csv'

In [4]:
productos = pd.read_csv(os.path.join(directorio,dataset_name)) #leemos el archivo que contienla información
productos

,category,sub_category,href,items,price
0,Groceries,Fruits & Vegetables,https://www.jiomart.com/c/groceries/fruits-veg...,Fresh Dates (Pack) (Approx 450 g - 500 g),109.0
1,Groceries,Fruits & Vegetables,https://www.jiomart.com/c/groceries/fruits-veg...,Tender Coconut Cling Wrapped (1 pc) (Approx 90...,49.0
2,Groceries,Fruits & Vegetables,https://www.jiomart.com/c/groceries/fruits-veg...,Mosambi 1 kg,69.0
3,Groceries,Fruits & Vegetables,https://www.jiomart.com/c/groceries/fruits-veg...,Orange Imported 1 kg,125.0
4,Groceries,Fruits & Vegetables,https://www.jiomart.com/c/groceries/fruits-veg...,Banana Robusta 6 pcs (Box) (Approx 800 g - 110...,44.0
...,...,...,...,...,...
162308,Jewellery,Fine Jewellery,https://www.jiomart.com/c/jewellery/fine-jewel...,Reliance Jewels Ag 99.9 5.6 gm Ganesha Silver ...,1669.0
162309,Jewellery,Fine Jewellery,https://www.jiomart.com/c/jewellery/fine-jewel...,Reliance Jewels Ag 99.9 4.58 gm Ganesha Silver...,1391.0
162310,Jewellery,Fine Jewellery,https://www.jiomart.com/c/jewellery/fine-jewel...,Reliance Jewels Ag 99.9 2.31 gm Ganesha Silver...,834.0
162311,Jewellery,Fine Jewellery,https://www.jiomart.com/c/jewellery/fine-jewel...,Reliance Jewels Ag 99.9 7.76 gm Ganesha Silver...,2276.0
162312,Jewellery,Fine Jewellery,https://www.jiomart.com/c/jewellery/fine-jewel...,Reliance Jewels Ag 99.9 2.9 gm Balaji Silver Idol,834.0

In [5]:
np.unique(productos['category'])

array(['Beauty', 'Electronics', 'Fashion', 'Groceries', 'Home & Kitchen',
       'Jewellery'], dtype=object)

In [6]:
productos['category'].unique()

array(['Groceries', 'Home & Kitchen', 'Fashion', 'Electronics', 'Beauty',
       'Jewellery'], dtype=object)

In [7]:
category = pd.DataFrame({'category_name': np.unique(productos['category']),
                        'category_id': list(range(1,len(productos['category'].unique()) + 1) )})
category

    category_name  category_id
0          Beauty            1
1     Electronics            2
2         Fashion            3
3       Groceries            4
4  Home & Kitchen            5
5       Jewellery            6